html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

/*
font-family: 'Dela Gothic One', cursive;
font-family: 'Montagu Slab', serif;
font-family: 'Poppins', sans-serif;
*/

main {
  // max-width: 960px;
  margin: 0 auto;
}

.button {
  display: block;
  text-decoration: none;
  background: #000;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  padding: 20px;
  font-weight: 600;
  font-family: 'Dela Gothic One', Helvetica, sans-serif;
  letter-spacing: 3px;
}

section.top {
  background: coral;
  background: url('./images/header-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  // height: 430px;
  // justify-content: center;
  padding: 40px 0 70px 0;

  img {
    display: block;
    margin: 0 auto 12px auto;
  }

  h1 {
    font-family: 'Poppins', Helvetica, sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 28px;
    letter-spacing: 1px;
  }

  p {
    font-size: 20px;
    font-family: 'Montagu Slab', serif;
    color: white;
    max-width: 600px;
    margin: 0 auto 28px auto;
    text-align: center;
    padding: 0 20px;
  }

  a {
    margin: 0 auto;
  }
}

section.howto {
  display: flex;
  flex-direction: column;
  padding: 40px 0 100px 0;

  h2 {
    font-family: 'Poppins', Helvetica, sans-serif;
    font-size: 35px;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 16px;
  }

  p {
    margin: 0 auto;
    font-family: 'Montagu Slab', serif;
    text-align: center;
    padding: 0 20px;
  }

  .steps {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    img {
      display: block;
      margin: 0 auto;
    }

    h3 {
      font-family: 'Poppins', Helvetica, sans-serif;
      font-size: 30px;
      line-height: 1;
      text-transform: uppercase;
      text-align: center;
    }

    p {
      font-family: 'Montagu Slab', serif;
    }
  }
}

section.share {
  h2 {
    text-transform: uppercase;
    text-align: center;
  }

  p {
    margin: 0 auto;
  }

  .share-button {
    margin: 0 auto;
    appearance: none;
  }
}

form.send {
  padding: 20px;

  input[type="tel"] {
    font-size: 20px;
    margin-bottom: 12px;
  }

  .record-button,
  .stop-button,
  .play-button {
    display: block;
    padding: 20px;
    appearance: none;
    font-size: 20px;
    margin-bottom: 20px;
  }
}
